.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

