.footer__container {
  display: flex;
	flex-wrap: wrap;
	justify-content: right;
	gap: 1rem;
	padding: 0 80px 10px;
	font-size: 12px;
	color: rgb(0, 0, 0, 0.6);
    margin-top:auto;
	span {
		align-self: center;
	}
	svg {
		color: rgb(0, 0, 0, 0.6);
	}
}